<?xml version="1.0"?>

<model>
  <name>cone_orange_small</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Leonce Mollerus</name>
    <email>leonce.mollerus@schanzer-racing.de</email>
  </author>

  <description>
    A 385mm tall orange cone
  </description>
</model>