<?xml version="1.0"?>

<model>
  <name>cone_orange_1</name>
  <version>1.0</version>
  <sdf version="1.5">cone_orange_1.sdf</sdf>
  <author>
    <name>lem2300</name>
    <email>leonce.mollerus@schanzer-racing.de</email>
  </author>

  <description>
    An orange 385mm tall cone
  </description>
</model>